:host {
  display: block;
}

/* To ensure your styling works under the Shadow DOM polyfill, see
   www.polymer-project.org/docs/polymer/styling.html#directives */
polyfill-next-selector { content: ':host > h2'; }
::content h2 {
  color: blue;
}

    core-animated-pages {
      position: absolute;
      top: 50px;
      right: 0;
      bottom: 0;
      left: 0;
      font-size: 72px;
      overflow: hidden;
    }

    section > div {
      height: 100%;
      color: white;
    }