:host {
  display: block;
}

/* To ensure your styling works under the Shadow DOM polyfill, see
   www.polymer-project.org/docs/polymer/styling.html#directives */
polyfill-next-selector { content: ':host > h2'; }
::content h2 {
  color: blue;
}


.card {
  background-color: #fff;
  border: 1px solid #AAA;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(160, 160, 160, 0.4), inset 0 0 5px rgba(200, 200, 200, 0.6), inset 0 0 0 1px rgba(255, 255 ,255, 0.9);
  float: left;
  margin: 0 1% 0 0;
  overflow: hidden;
  text-align: center;
  width: 18%;
  height: 150px;
}